html, body {
    margin: 0;
}

body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.main .header > img{
    height: 150px;
    width: 100%;
    object-fit: cover;
    max-height: 150px;
}

.menu .menuList {
    width: 100px;
    list-style: none;
    list-style: none;
}

.header {
    min-height: 150px;
}

.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

.footer {
    background-color: rgb(99, 56, 240);
    min-height: 150px;
}

a{
    text-decoration: none;
}

.wrapper .menu{
    margin-left: 5px;
}

.wrapper .menu .menuList{
    padding: 0px;
    size: 30%;
}

.wrapper .footer{
   width: 100%;
}

.wrapper .footer .footerList{
    display: flex;
    justify-content: center;
    list-style: none;
    color: #f1f1f1;
}

.wrapper .footer .footerList > li{
    margin-left: 10px;
}
